.image-gallery-slider {
    margin-bottom: 4em;
    width: 100%;
    .lower-content-container & {
        padding-top: 3em;
        padding-bottom: 3em;
        background: #F2F2F2;
        margin-bottom: 0;
    }
    .component-title-wrapper {
        max-width: none;
    }
    .component-title {
        text-align: center;
        margin-bottom: 15px;
    }
	.image-gallery-slider-wrapper {
        padding-top: 10px;
        @include breakpoint(medium) {
            margin-left: 10px;
            margin-right: 10px;
		}
		@include breakpoint(xlarge) {
            padding-top: 0;
		}
	}
	&-slides {
        //width: 100%;
        overflow: hidden;
		.slick-track {
            display: flex !important;
            .slick-slide > div {
                width: 100%;
                display: flex;
            }
		}
		.slide {
			width: 100%;
			position: relative;
			background-size: cover;
			background-position: center;
			display: flex;
            flex-direction: column;
            outline: 0;
            margin: 0 10px;
			transition: opacity 0.3s ease-out;
			cursor: pointer;
			&:focus {
				outline: none;
			}
			@include breakpoint(medium) {
				height: auto;
			}
			.slide-inner {
				overflow: hidden;
				position: relative;
                outline: 0;
			}
			.imagebg {
				background-size: cover;
				background-position: center;
				width: 100%;
				position: relative;
				z-index: 1;
                transition: opacity 0.3s ease-in;
                min-height: 0;
                padding-bottom: 100%;
                transition: 0.3s filter ease-out;
                clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 100%);
                @include breakpoint(xxlarge) {
                    filter: grayscale(100%);
                }
			}
			.wrapper {
				padding: 10px 0 0;
				display: flex;
    			z-index: 3;
    			position: relative;
                transition: opacity 0.3s ease-in;
				.content {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					.name {
                        font-size: 16px;
                        text-transform: uppercase;
						line-height: 26px;
						font-weight: 400;
					}
					.author {
						font-size: 18px;
						line-height: 26px;
						font-weight: 400;
						margin-bottom: 0;
						color: $white;
					}
				}
			}
			.image-gallery-slide-link {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
                z-index: 3;
                outline: 0;
            }
            @include breakpoint(xxlarge) {
                &:hover {
                    .imagebg {
                        filter: none;
                    }
                }
            }
        }
    }
    .image-gallery-nav {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $black;
        margin-top: 30px;
        .slide-count {
            display: inline-block;
            margin: 0 40px;
        }
    }
    .slick-arrow {
        position: static;
        background-position: center;
        background-color: transparent;
        background-image: url(../../assets/src/img/left-arrow-black.png);
        background-repeat: no-repeat;
        color: #fff;
        font-size: 0;
        outline: none;
        cursor: pointer;
        height: 16px;
        width: 40px;
        transform: none;
        margin: 0;
        padding: 0;
        &:before {
            display: none;
        }
        @include breakpoint(xxlarge) {
            opacity: 0.5;
            transition: opacity 0.3s ease-out;
            &:hover {
                opacity: 1;
            }
		}
    }
    .slick-prev {
    }
    .slick-next {
        background-image: url(../../assets/src/img/right-arrow-black.png);
    }
}