section.video_container {
	padding-top: 3em;
	padding-bottom: 3em;
	.video-embed {
		max-width: 1024px;
		margin: auto;
		iframe.video {
			width: 100%;
			height: 30vw;
		}
	}
}

/*
.homepage-video {
	width: 100%;
	.videoCutout {
		background: linear-gradient(to left bottom, #fff 49%, transparent 51%);
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 1;
	}
	.videoWrapper {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		cursor: pointer;
		.play-button {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -63px;
			margin-top: -63px;
			z-index: 1;
			cursor: pointer;
			transform: scale(0.6);
			transform-origin: center;
			transition: all 0.2s ease;
			@include breakpoint(medium) {
				transform: scale(0.9);
			}
			@include breakpoint(xxlarge) {
				top: 55%;
				left: 25%;
			}
			&.hide {
				opacity: 0;
			}
		}
		@include breakpoint(xxlarge) {
			&:hover {
				.play-button {
					transform: scale(1);
					transform-origin: center;
				}
			}
		}
		iframe, video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
*/